/* css ของหน้า CreateRoom, Lobby, CreateTask */
.input-container{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}
.text-box{
    background: #D9D9D9;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.2rem 0.8rem;
    font-size: 0.7rem;
    /* width: 30rem; */
    width: 100%;
    min-height: 1.7rem;
}
.textarea-box{
    background: #D9D9D9;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.2rem 0.8rem;
    font-size: 0.7rem;
    /* width: 30rem; */
    width: 100%;
    min-height: 3rem;
}
.check-box{
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.3rem;
}
.button-container{
    text-align: center;
    margin: 1rem 0;
    
}
.btn-red{
    border: 3px solid #E34C4C;
    border-radius: 15px;    
    padding: 5px 15px;
    margin: 0 0.5rem;
    font-size: 0.9rem;
    background-color: #E34C4C;
    min-width: 146px;
}
.btn-red:hover{
    border: 3px solid white;
    box-shadow: 0.5px -0.5px 10px rgb(171, 169, 169);
}
.btn-black{
    border: 3px solid #FFFFFF;
    border-radius: 15px;    
    padding: 5px 15px;
    margin: 0 0.5rem;
    font-size: 0.9rem;
    min-width: 146px;
}
.btn-black:hover{
    border: 3px solid white;
    box-shadow: 0.5px -0.5px 10px rgb(171, 169, 169);
}
.togglePwd{
    position: relative;
}
.togglePwd i {
    position: absolute;
    left: 94%;
    top: 12px;
    cursor: pointer;
    color: #302f31;
}
button i {
    padding: 5px 5px 0 0;
}

/* ======== CreateTask Page ========  */
.input-container2{
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between

}
.timeSelect,option{
    margin: 0 0.5rem;
    color: #302f31;
    border-radius: 5px;
    width: 4rem;
    text-align: center;
    font-size: 0.7rem;
    min-height: 1.3rem;
    cursor: pointer;
}
.timeSelect option:hover {
    background-color: #E34C4C;

}
.radioInput{
    margin: 0 0.5rem;
    font-size: 0.8rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* accent-color: #E34C4C; */
}

#input-file{
    font-size: 0.7rem;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-color: #D9D9D9;
    color: #302f31;
}

/* ======== Lobby Page ========  */
.mainContainer2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #272528;
    min-height: 85%;
}
.mainContainer2-left{
    width: 20%;
    height: 100%;
    min-height: 730px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #302f31;
    z-index: 2;
}
.leftFrame-logo{
    align-self: center;
    margin: 0.5rem 0;
}
.leftFrame-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.avatar{
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    margin: 0.1rem 0;
}
.avatar>i{
    padding-bottom: 0.2rem;
}
.avatar>p{
    align-self: center;
    font-size: 0.75rem;
    text-align: left;
    white-space: nowrap; 
    width: 5rem; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.lobby-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1rem 1rem;
}
.lobby-btn>button{
    margin: 10px 0;
}
.mainContainer2-right{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
/* Top Section */
}
.topFrame{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #272528;
    padding: 0.5rem 0.5rem;
}
.top-left-tab{
    display: flex;
    align-items: center;
    width: 60%;
}
.top-left-tab>p, .top-left-tab>div>i{
    font-size: 0.65rem;
    margin: 0 0.4rem;
}
.top-left-tab>div>i, .gear-icon>i, .exit-icon>i{
    cursor: pointer;
}
#room-name{
    white-space: nowrap; 
    width: 9rem; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.top-right-tab{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}
.room-profile-container{
    display: flex;
    justify-items: center;
    margin-right: 1rem;
    /* padding-top: 15px; */
}
#user-name>p{
    align-items: center;
}
#user-name-1{
    font-size: 0.6rem;
}
#user-name-2{
    font-size: 0.5rem;
    color: rgba(225, 220, 220, 0.5);
}
.room-setting-container{
    display: flex;

}
.room-setting-container>div{
    display: flex;
    background-color: #302F31;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.gear-icon{
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.exit-icon{
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

/* Content Section */
.bgFrame2 {
    margin: 2rem 0 1rem 0;
    background-color: #302f31;
    padding: 0 1.5rem 1rem 1.5rem;
    width: 40rem; /* 1280 px */
    height: fit-content;
    min-width: 40%;
    width: 80%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    align-self: center;
}
.blog-detail{
    background-color: #272528;
    padding: 1rem;
    border-radius: 10px;
    
}
.blog-detail>p{
    font-size: 0.8rem;
    font-weight: 500;
}