
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card.image-full:before {
    position: relative;
    content: "";
    z-index: 10;
    /* border-radius: var(--rounded-box, 1rem); */
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
    opacity: 0.75;
}