@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

nav{
    background-color: #302F31;
    padding: 1rem 3rem 1rem 1rem;
    border-bottom: 2px solid white;
    text-align: center;
    height: 100px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

div{
    background-color: #302F31;  
}

/* Section Nav Bar Left */
img{
    width: 165px ;
    height: 96px;
    background-color: #302F31;
    display: flex;
    align-items: center;
}
img:hover{
    cursor: pointer;
}

/* Section Nav Bar Center */
div a{
    color: #FFFF;
    background-color: #302F31;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 0.75rem; /* 24px  root is font-size 32 So that 32*0.75 = 24px*/
    transition: font-size,1s,ease-in, color,1s,1s;
    transform-origin: center top;

}
a:hover{
    font-size: 1rem;
    color:#F03535;
    text-shadow: -1px 1px 10px #000000, 1px 1px 10px #000000, 1px -1px 10px #000000, -1px -1px 10px #000000;

}

/* Section Nav Bar Right */
.nav-right{
    display: flex;
    justify-content: flex-end;  
    width: 50%;
    background-color: #302F31;
    /* border: 2px solid rgb(56, 240, 43); */
}
.navButton{
    width: 3.5rem;
    height: 1.5rem;
    border-radius: 10px;
    color: #FFFF;
    border: 3px solid rgb(0, 0, 0);
    background-color: #F03535;
    font-size: 0.6rem;
    font-weight: bold;
    transition: font-size,1s,ease-in,color,1s,1s;
    transform-origin: center top;
    /* text-shadow: -1px 1px 3px #000000, 1px 1px 3px #000000, 1px -1px 3px #000000, -1px -1px 3px #000000; */
    transition: border,1s,ease-in,box-shadow,1s,1s;
    transform-origin: center top;
} 
.navButton:hover{
    cursor: pointer;
    /* background-color: #302F31; */
    background-color: #F03535;
    border: 3px solid white;
    box-shadow: 0.5px -0.5px 20px rgb(171, 169, 169);

}