@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

*{
    font-family: "Mada", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    width: 100%;   
    background-color: #272528;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width : 100%;
    min-height: 1080px;
    /* height: 1080px; */
}

h1 {
    display: flex;
    justify-content: center;
}